.brand-section {
    padding-top: 0;
  }
  
  .brand-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .brand-item img {
    max-width: 100%;
    height: auto;
  }
  